*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #61a1e7;
}

header{
    background-color: #61a1e7;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li a{
    text-decoration: none;
    margin-right: 200px;
    color: black;
    font-size: 25px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sob{
    width: 235px;
    height: 235px;
}

h1{
    font-weight: 500;
    font-size: 38px;
    text-align: center;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 35px;
    width: 200px;
    text-align: center;
}

.hea{
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 350px;
    width:400px;
    height: 410px;
    padding-top: 50px;
    padding-left: 75px;
    margin-top: 50px;
}



