.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    margin: auto;
    height: 220px;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 200px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

p{
    font-size: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #61a1e7;
}


.container{
    max-width: 1280px;
    margin: auto;
}

header{
    background-color: #61a1e7;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li a{
    text-decoration: none;
    margin-right: 200px;
    color: black;
    font-size: 25px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sob{
    width: 235px;
    height: 235px;
}

.ava{
    width: 135px;
    height: 175px;
}
 

input{
    max-height: 50px;
    width: 402px;
    font-size: 35px;
    border-radius: 25px;
    margin-left: 800px;
    margin-top: 50px;
    padding: 10px 20px;
}

